/* Palette URL: http://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF */
:root{
  --color-0: #AA3939; 	
  --color-1: #f3e8e8;
  --color-2: #D46A6A; 
  --color-3: #801515; 
  --color-4: #550000; 
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: Roboto, sans-serif;
  color:#212529;
  /*background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png'); */
  background-size: cover;
  background-color: var(--color-1);
  margin: 0;
  margin: 0;
  overflow: scroll;
}
#map {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
header {
  padding: 20px 0;
}
header .row, footer .row {
  display: flex;
  align-items: center;
}
h1 {
  font-weight: 50;
  margin: 0;
 }
nav {
  display: flex;
  justify-content: flex-end;
}
nav a {
  font-size: 1.5em;
  padding: 10px;
  margin: 0;
  color: #550000;
}
nav a:hover {
  color: var(--color-4);
}
.jumbotron {
  display: flex;
  align-items: center;
  background-color: var(--color-0);
  background-size: cover;
  color: #ffffff;
  min-height: 150px;
  padding: 30px;
  border-radius: 20px;
}
.jumbotron h3 {
  font-weight: 700;
  margin: 0;
  color: #fff;
}
section {
  padding-bottom: 5vw;
}
section p {
  padding: 5px;
  overflow: hidden;
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #4b0505;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #10469e;
  color: #ffffff;
  margin: 0 0 30px;
}
.portrait {
  width:  350px;
  height: 300px;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

footer {
  color: #ffffff;
  background-color: var(--color-0);
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 50px;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid #AA3939;
  border-radius: 20px;
  font-size: 15px;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-start;
}
footer ul {
  list-style: none;
}
footer a {
  color:white;
}
a:hover {
  color: var(--color-4);
}
